#intro{
	margin-top: 5%;
	margin-left: 14%;
	margin-right: 14%;
}

.row, .well {
	margin-top: 2%;
}

#share {
	padding: 2%;
}

#add_form{
	width: 100%;
}

#panel_title {
	text-decoration: underline;
	text-decoration-color: #5BAEE1;
}

label{
	font-weight: bold;
}