#intro{
	width: 85%;
	margin-left: 15%;
	margin-right: 15%;
}

.row, .well {
	margin-top: 3%;
}

#share {
	padding: 2%;
}

#share_button{
	width: 150px;
}

#panel_title {
	text-decoration: underline;
	text-decoration-color: #5BAEE1;
}

label{
	font-weight: bold;
}

#input_form, #custom_message{
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
}